<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rhyno EV</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><img src="/images/rhynologo.png" alt="rhyno logo"></li>
                <li><a href="/">Home</a></li>
                <li><a href="/about">About Us</a></li>
                <li><a href="#">Products</a>
                    <ul>
                        <li><a href="/se03lite">SE03 Lite</a></li>
                        <li><a href="/se03">SE03</a></li>
                        <li><a href="/se03max">SE03 Max</a></li>
                        <li><a href="/compare">Compare All</a></li>
                    </ul>
                </li>
                <li><a href="/contact">Contact Us</a></li>
                <li><a href="/prebook">Pre-book Now</a></li>
            </ul>
        </nav>
    </header>
