<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rhyno EV</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <header>
        <%- include('partials/header') %>
    </header>

    <main>
        <section class="hero">
            <div class="hero-content">
                <h1>Let us Elevate Your Ride Experience With Rhyno – Where Superiority Meets <span id="changing-word">Style</span>.</h1>
                <button class="cta"><a href="/prebook">Pre-book now</a></button>
            </div>
        </section>        
        <section class="products">
            <!-- Add product details here -->
            <h2>Our Products</h2>

            <div class="product">
                <div class="product-image">
                    <img src="/images/bike.png" alt="Rhyno SE03 Lite">
                </div>
                <div class="product-info">
                    <h3>Rhyno SE03 Lite</h3>
                    <p>Indulge in the perfect harmony of power and range with the Rhyno SE03 Lite. Offering an exhilarating experience with its robust 2000W motor, it ensures a thrilling ride while still delivering a stable 80-100 km range on a single charge.</p>
                    <a href="/se03lite" class="product-button">Buy Now</a>
                </div>
            </div>

            <!-- SE03 -->
            <div class="product">
                <div class="product-info">
                    
                    <h3>Rhyno SE03</h3>
                    <p>Experience the ultimate ride with the Rhyno SE03. Combining a powerful 1500W motor with an advanced LFP battery, it offers safety, durability, and performance like no other.</p>
                    <a href="/se03" class="product-button">Buy Now</a>
                </div>
                <div class="product-image">
                    <img src="images/se03.png" alt="Rhyno SE03">
                </div>
            </div>

            <!-- SE03 Max -->
            <div class="product">
                <div class="product-image">
                    <img src="/images/rhynosmax.png" alt="Rhyno SE03 Max" id="imagesu">
                </div>
                <div class="product-info">
                    <h3>Rhyno SE03 Max</h3>
                    <p>Meet the Rhyno SE03 Max, a beast on the road with a 2000W motor and 2.7kWh battery. Enjoy a robust and thrilling ride with an impressive range and safety features.</p>
                    <a href="/se03max" class="product-button">Buy Now</a>
                </div>
            </div>
        </section>
        <section class="usp">
            <div class="usp-carousel">
                <button class="carousel-button prev" id="prev-btn">&#10094;</button>
                <div class="usp-item" id="usp-item-1">
                    <h2>LFP Battery</h2>
                    <p>Rhyno is equipped with Lithium Iron Phosphate (LFP) batteries, renowned for their safety features—eliminating the risk of fire associated with other Lithium batteries. These batteries boast a broader temperature range, ideal for the diverse Indian climate. Our technology enhances Rhyno's longevity, complemented by an Active Balancing Smart Battery Management System (BMS) for extended life and reduced maintenance. Each battery undergoes rigorous waterproofing tests according to IP76 standards. But it doesn't stop there—our technology goes the extra mile in ensuring the battery's lasting durability. Connect with us to discover the thoughtful engineering behind our batteries!</p>
                </div>
                <div class="usp-item" id="usp-item-2">
                    <h2>Wider Tyres</h2>
                    <p>Now, say goodbye to skidding and embrace the leaning turns! Featuring first-of-its-kind, 9.5-inch wider tyres that make this machine an enormous beast that ensures stability on different terrains such as wet roads, mud, and sand.</p>
                </div>
                <div class="usp-item" id="usp-item-3">
                    <h2>Range Prediction</h2>
                    <p>Many budget-friendly electric scooters overlook this crucial feature, causing riders to experience range anxiety. With Rhyno, you can ride with peace of mind, thanks to the scooter providing precise information about the remaining battery.</p>
                </div>
                <div class="usp-item" id="usp-item-4">
                    <h2>Extraordinary Experience</h2>
                    <p>Rhyno is more than just a mode of transportation. It is an experience of sheer comfort and style! A seamless fusion of minimalism, sophistication, and a touch of masculinity!</p>
                </div>
                <div class="usp-item" id="usp-item-5">
                    <h2>Rugged and Simple Design</h2>
                    <p>We’ve had enough of the EVs looking and feeling like fragile plastic toys. Often fading out and shamelessly breaking in minor accidents, ending up spending weeks and months at service stations for complex repairs. We took a bold step of making something raw, rugged, and practical. We kept it so simple that even your trusted local mechanic can understand and repair most of it. If you have reached this far, why not take a test ride? Click here to locate your nearest dealership or book a test ride at your home!</p>
                </div>
                <button class="carousel-button next" id="next-btn">&#10095;</button>
            </div>
        </section>
    </main>

    <footer>
        <%- include('partials/footer') %>
    </footer>

    <script>
        const words = ['Elegance', 'Minimalism', 'Comfort', 'style'];
        let wordIndex = 0;

        function changeWord() 
        {
            const changingWordElement = document.getElementById('changing-word');
            changingWordElement.textContent = words[wordIndex];
            wordIndex = (wordIndex + 1) % words.length;
        }

        setInterval(changeWord, 3000);
        
        let currentIndex = 0;
        const items = document.querySelectorAll('.usp-item');
        const totalItems = items.length;

        function showItem(index) {
            items.forEach((item, i) => {
                item.style.display = i === index ? 'block' : 'none';
            });
        }

        function nextItem() {
            currentIndex = (currentIndex + 1) % totalItems;
            showItem(currentIndex);
        }

        function prevItem() {
            currentIndex = (currentIndex - 1 + totalItems) % totalItems;
            showItem(currentIndex);
        }

        document.getElementById('next-btn').addEventListener('click', nextItem);
        document.getElementById('prev-btn').addEventListener('click', prevItem);

        // Initialize the carousel by showing the first item
        showItem(currentIndex);
    </script>
</body>
</html>
