<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/rentals.css">
</head>
<body>
    <%- include('partials/header') %>
<main>
    <section class="rentals">
        <h1>Rentals</h1>
        <p>Rhyno EV offers rental options for those who want to experience our electric vehicles without committing to a purchase. Our scooters are perfect for short-term use, whether you're a tourist exploring the city or need a reliable vehicle for a few days.</p>
        <p>Contact us to learn more about our rental plans and pricing.</p>
        <p>Explore the roars of Rhyno at your own pace with our rental options! Test the waters with our flexible rental model, available for a week or a month, allowing you to experience the Rhyno first hand before committing. Simply visit our authorized dealerships to unlock this opportunity.
            Additionally, we're redefining campus commuting with our rental fleet tailored for college                   students. Navigate your daily commute effortlessly by renting Rhyno vehicles on an hourly basis through our user-friendly mobile app. Embrace the freedom to ride and explore a new dimension in sustainable and convenient transportation.</p>
        <p>Download our rental app : <div class="app-buttons">
            <img src="images/andro.png" alt="Download on Android" class="app-icon">
            <img src="images/apple.jpeg" alt="Download on Apple" class="app-icon">
        </div></p>
         
    </section>
</main>
<%- include('partials/footer') %>
    
</body>
</html>

